<div class="b-example-divider"></div>

  <header class="p-3 mb-3 border-bottom" style="box-shadow:0px 2px 2px rgb(0, 183, 255) ;">
    <div class="container-fluid">

      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">


        <h1 style="margin-left:15px;">MyWay</h1>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0" style="margin-left:100px ;">
          <li><a href="/accueil" class="nav-link px-2 link-secondary">Accueil</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">Entreprises</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">Offres</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">Formations</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">Conseils</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">Actualités</a></li>
        </ul>



        <div class="dropdown text-end">

          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://avatars.githubusercontent.com/u/71600486?v=4" alt="mdo" width="32" height="32" class="  pp-1 bg-primary rounded-circle">


          </a>
          <ul class=" dropdown-menu dropdown-menu-right collapse  text-small">
            <li><a class="dropdown-item" href="#">Se connecter</a></li>
            <li><a class="dropdown-item" href="#">S'inscrire</a></li>
            <!-- <li><a class="dropdown-item" href="#">Profile</a></li> -->
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>

      </div>
    </div>


  </header>

