$online: true;
$shadow-ex: true;
$three : rgb(248, 183, 3);
$three-hover :#34f803;

$ana : true;
.main-body {
    padding: 15px;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
 @if $ana == true {
.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}
  } @else {
.card-body {
display: none;
}
  }


.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}




.herder-top-card{
  position: relative;
  width: 100%;

  padding: 10px;

  background-color: rgb(252, 252, 252);
}

.icons {
  background-color: rgb(19, 157, 236);
    padding: 5px;
    background: #ffffff;
    border: 1px #12affe solid transparent;
    box-shadow: 0px 2px 4px 0px rgb(36, 36, 36);
    margin-bottom: 0;

    border-radius: 100%;
    color: white;
    border: $three solid 2px;
    cursor: pointer;
    height: 35px;
    width: 35px;
    position: absolute;
    right: -6px;
    top: -6px;
    font-weight: normal;
    transition: all .2s ease-in-out;
    &:hover {
        background: #f1f1f1;
        border-color: $three-hover;
      }

      &:after {
        content: "\f040";
        font-family: 'FontAwesome';
        color: #757575;
        position: absolute;
        top: 5px;
        left: 3px;
        right: 0;
        text-align: center;
        margin: auto;
      }
  }


.para
{
text-align: center;
color: #333;
}
.about
{
text-align: center;

}


.wtf{
  display: flex;

}


@import "style/Experience-Education.scss";
@import "style/Edit-profile-img.scss";



@if $online == true {
$online-color-1 : rgba(16, 236, 27, 0.904);
$online-color-2 : rgba(16, 236, 27, 0.61);
$online-color-3 : rgba(16, 236, 27, 0.411);
.online {
    background-color: $online-color-1;
    height: 20px;
    width: 20px;
    border-radius: 50%;

    position: relative;

  }

  .spinner-grow {
    background-color: $online-color-2;
    height: 30px;
    width: 30px;
    margin-left: -5px;
    margin-top: -5PX;
  }

  .init {
    background-color: $online-color-3;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin-left: -8px;
    margin-top: -8PX;
  }
}@else{
$online-color-1 : rgba(236, 16, 16, 0.904);
  $online-color-2 : rgba(236, 16, 16, 0.61);
  $online-color-3 : rgba(236, 16, 16, 0.411);

.online {
    background-color: $online-color-1;
    height: 20px;
    width: 20px;
    border-radius: 50%;

    position: relative;

  }

  .spinner-grow {
    background-color: $online-color-2;
    height: 30px;
    width: 30px;
    margin-left: -5px;
    margin-top: -5PX;
  }

  .init {
    background-color: $online-color-3;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin-left: -8px;
    margin-top: -8PX;
  }
}








@if $shadow-ex == true {
.Experince {
display: block;
}
.Edcucation {
display: none;
}
}@else{
.Experince {
display: none;
}
.Edcucation {
display: block;
}
}


























#list-example{
  position: sticky;
  top: 30px;

}









.ccard {
  background-color: #fff;
  width: 280px;
  border-radius: 33px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 2rem !important;
}

.top-container {
  display: flex;
  align-items: center;
}



.name {
  font-size: 15px;
  font-weight: bold;
  color: #272727;
  position: relative;
  top: 8px;
}

.mail {
  font-size: 14px;
  color: grey;
  position: relative;
  top: 2px;
}

.middle-container {
  background-color: #eee;
  border-radius: 12px;

}

.middle-container:hover {
  border: 1px solid #5957f9;
}

.dollar-div {
  background-color: #5957f9;
  padding: 12px;
  border-radius: 10px;
}

.round-div {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.dollar {
  font-size: 16px !important;
  color: #5957f9 !important;
  font-weight: bold !important;
}


// .current-balance {
//   font-size: 15px;
//   color: #272727;
//   font-weight: bold;
// }

// .amount {
//   color: #5957f9;
//   font-size: 16px;
//   font-weight: bold;
// }

// .dollar-sign {
//   font-size: 16px;
//   color: #272727;
//   font-weight: bold;
// }

.recent-border {
  border-left: 2px solid #5957f9;
  display: flex;
  align-items: center;

}

.recent-border:hover {
  border-bottom: 1px solid #dee2e6 !important;
}

.recent-orders {
  font-size: 16px;
  font-weight: 700;
  color: #5957f9;
  margin-left: 2px;
}

.wishlist {
  font-size: 16px;
  font-weight: 700;
  color: #272727;

}

.wishlist-border:hover {
  border-bottom: 1px solid #dee2e6 !important;
}

.fashion-studio {
  font-size: 16px;
  font-weight: 700;
  color: #272727;
}

.fashion-studio-border:hover {
  border-bottom: 1px solid #dee2e6 !important;
}










































